## Topic Covered here
1. fillna to fill missing values using different ways
2. interpolate to make a guess on missing values using interpolation
3. dropna to drop rows with missing values

### df.fillna()
1. df.fillna(0) # when we need to replace every NaN values of the entire data set with zero
2. df.fillna({
                        'column_name': replacing value,
                        'column_name': replacing value
                         }
3. df.fillna(method='ffill') # filling forwards method
4. new_df =df.fillna(method='ffill',axis='columns') # for copying Value Horizonntally
5. new_df =df.fillna(method='ffill',limit=1)  # for limiting the no of copying

### df.interpolate()
1. new_df = df.interpolate()  # missing values will be found by using interpolation
2. new_df = df.interpolate(method='time')  # missing values will be found by using interpolation

## df.dropna()
It usually drops the row if it contains NaN

1. To drop rows containing one or More NaN
    df.dropna()
2. To drop rows if rows contain all NaN Values
    new_df= df.dropna(how="all")
3. If we want to control the number of NaN needs for droping a row
    new_df= df.dropna(thresh=1)
    new_df= df.dropna(thresh=2)
    new_df= df.dropna(thresh=3)

In [1]:
import pandas as pd
import numpy as np

In [2]:
# creating Dataframe

df = pd.read_csv("weather_data_for_tut5.csv")

In [3]:
type(df.day[0])
# IT IS CSV WE NEED TO MAKE THIS COLUMN ON DATE FORMAT TO DO THAT WE ARE GOING TO ADD A NEW ARGUMENT WITH READ CSV

str

In [8]:
df = pd.read_csv("weather_data_for_tut5.csv", parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        7.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08         31.0        2.0   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [9]:
# I GOT DAY AS A COLUMN I WANT TO MAKE THIS COLUMN AS INDEX
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [11]:
# we need to replace all NaN values with other values
new_df = df.fillna(0)
# Everything that was NaN replaced with 0.0
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        7.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### df.fillna()
1. df.fillna(0) # when we need to replace every NaN values of the entire data set with zero
2. df.fillna({
                        'column_name': replacing value,
                        'column_name': replacing value
                         }
3. df.fillna(method='ffill') # filling forwards method
4. new_df =df.fillna(method='ffill',axis='columns') # for copying Value Horizonntally
5. new_df =df.fillna(method='ffill',limit=1)  # for limiting the no of copying

In [12]:
# in the case of event value zero is irrelavent if we want to use na for different values we need to import a dictionary
new_df = df.fillna({
    'temperature': 0,
    'windspeed' : 0,
    'event': 'no event'
})
new_df

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-04          0.0        7.0     Sunny
2017-01-05         28.0        0.0      Snow
2017-01-06          0.0        7.0  no event
2017-01-07         32.0        0.0      Rain
2017-01-08         31.0        2.0     Sunny
2017-01-09          0.0        0.0  no event
2017-01-10         34.0        8.0    Cloudy
2017-01-11         40.0       12.0     Sunny

In [14]:
# but now I am not okay or satisfied with the data, because the value of the temperature 0 indicates the o degree celsius , but in real it was not representing that

new_df =df.fillna(method='ffill') # forward fill kore

new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        7.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [15]:
# for copying next days value instead of copying previous value : df.fillna('bfill')
new_df =df.fillna(method='bfill')# ager value ta fill kore

new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         28.0        7.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         32.0        7.0    Rain
2017-01-07         32.0        2.0    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09         34.0        8.0  Cloudy
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### axis parameter of fillna
it is used to copying value horizontally

In [16]:
new_df =df.fillna(method='ffill',axis='columns')
new_df

           temperature windspeed   event
day
2017-01-01        32.0       6.0    Rain
2017-01-04         NaN       7.0   Sunny
2017-01-05        28.0      28.0    Snow
2017-01-06         NaN       7.0     7.0
2017-01-07        32.0      32.0    Rain
2017-01-08        31.0       2.0   Sunny
2017-01-09         NaN       NaN     NaN
2017-01-10        34.0       8.0  Cloudy
2017-01-11        40.0      12.0   Sunny

### limit is used to lmit the copying iterations
new_df =df.fillna(method='ffill',limit=1)

In [17]:
new_df =df.fillna(method='ffill',limit=1)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         32.0        7.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         28.0        7.0    Snow
2017-01-07         32.0        7.0    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### df.interpolate()
1. new_df = df.interpolate()  # missing values will be found by using interpolation
2. new_df = df.interpolate(method='time')  # missing values will be found by using interpolation

In [19]:
new_df = df.interpolate()  # missing values will be found by using interpolation
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         30.0        7.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         30.0        7.0     NaN
2017-01-07         32.0        4.5    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09         32.5        5.0     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [20]:
new_df_1 = new_df.fillna({'event':"No event"})

In [16]:
new_df_1

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-04         30.0        7.0     Sunny
2017-01-05         28.0        7.0      Snow
2017-01-06         30.0        7.0  No event
2017-01-07         32.0        4.5      Rain
2017-01-08         31.0        2.0     Sunny
2017-01-09         32.5        5.0  No event
2017-01-10         34.0        8.0    Cloudy
2017-01-11         40.0       12.0     Sunny

the value 30 in the 2nd column it doesn't make any sense bcz time gap was 3 days , so this inter polation should be considering the time that why we are going to add an argument called method='time''

In [22]:
new_df = df.interpolate(method='time')  # missing values will be found by using inter polation
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04         29.0        7.0   Sunny
2017-01-05         28.0        7.0    Snow
2017-01-06         30.0        7.0     NaN
2017-01-07         32.0        4.5    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09         32.5        5.0     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

## dropna()
It usually drops the row if it contains NaN

1. To drop rows containing one or More NaN
    df.dropna()
2. To drop rows if rows contain all NaN Values
    new_df= df.dropna(how="all")
3. If we want to control the number of NaN needs for droping a row
    new_df= df.dropna(thresh=1)
    new_df= df.dropna(thresh=2)
    new_df= df.dropna(thresh=3)

In [23]:
new_df= df.dropna()
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [25]:
# from the upper code we can easily understand, this dropn() deleted or dropped every rows containing a NaN
#
# We Want to drop the row if all of the datas are containing NaN value
new_df= df.dropna(how="all")
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [27]:
new_df= df.dropna(thresh=1)

new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [28]:
# If we want to control the number of NaN needs for droping a row
new_df= df.dropna(thresh=2)

new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [30]:
# If I want to add the missing dates also the datas
dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
new_df = df.reindex(idx)

In [31]:
new_df

            temperature  windspeed   event
2017-01-01         32.0        6.0    Rain
2017-01-02          NaN        NaN     NaN
2017-01-03          NaN        NaN     NaN
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [37]:
new_df= df.interpolate("time")

In [40]:
r =new_df.fillna({'event': "No EVENT"})

In [41]:
r

            temperature  windspeed     event
day
2017-01-01         32.0        6.0      Rain
2017-01-04         29.0        7.0     Sunny
2017-01-05         28.0        7.0      Snow
2017-01-06         30.0        7.0  No EVENT
2017-01-07         32.0        4.5      Rain
2017-01-08         31.0        2.0     Sunny
2017-01-09         32.5        5.0  No EVENT
2017-01-10         34.0        8.0    Cloudy
2017-01-11         40.0       12.0     Sunny