In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("stock_data.csv")
df.head()

   Header1     Unnamed: 1 Unnamed: 2 Unnamed: 3     Unnamed: 4
0  Tickers            esp    revenue      price         people
1    GOOGL          27.82         87        845     larry page
2     WMIT           4.61        484         65           n.a.
3     MSFT             -1         85         64     bill gates
4      RIL  not available         50       1023  mukesh ambani

### creating dataframe
1. df = pd.read_csv("csv_file_name.csv")
2. df = pd.read_csv("csv_file_name",skiprows=1) # If we might have an extra header, we have to remove unwanted header
3. df = pd.read_csv("csv_file_name.csv",header=1) # we can do the same by using header
4. df = pd.read_csv("csv_file_name.csv",header=None, names=["Tickers","eps","revenue","price","people"]) #we can do the same by using header and giving column names
5. df = pd.read_csv("stock_data.csv",nrows=3) #If we want to take few rows from the csv


### dealing with na_values
whenever we are readding csv if datas are note avaible it will filled up by NaN

1. df = pd.read_csv("nameOfTheFile.csv", na_values=["not available", "n.a."])
2. df = pd.read_csv("stock_data.csv", na_values={
    'Tickers': ["not available", "n.a."],
    'esp': ["not available", "n.a."],
    'revenue': ["not available", "n.a.",-1],
    'price': ["not available", "n.a."],
    'people': ["not available", "n.a."]
})           # giving particular formate

In [14]:
# If we might have an extra header, we have to remove unwanted header
df = pd.read_csv("stock_data.csv",skiprows=1)
df

  Tickers            esp  revenue price         people
0   GOOGL          27.82       87   845     larry page
1    WMIT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.      rata tata

In [15]:
# we can do the same by using header
df = pd.read_csv("stock_data.csv",header=1)
df

  Tickers            esp  revenue price         people
0   GOOGL          27.82       87   845     larry page
1    WMIT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.      rata tata

In [17]:
# we can do the same by using header and giving column names
df = pd.read_csv("stock_data.csv",header=None, names=["Tickers","eps","revenue","price","people"])

df

   Tickers            eps  revenue  price         people
0  Header1            NaN      NaN    NaN            NaN
1  Tickers            esp  revenue  price         people
2    GOOGL          27.82       87    845     larry page
3     WMIT           4.61      484     65           n.a.
4     MSFT             -1       85     64     bill gates
5      RIL  not available       50   1023  mukesh ambani
6     TATA            5.6       -1   n.a.      rata tata

In [18]:
# If we want to take few rows from the csv
df = pd.read_csv("stock_data.csv",nrows=3)
df

   Header1 Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4
0  Tickers        esp    revenue      price      people
1    GOOGL      27.82         87        845  larry page
2     WMIT       4.61        484         65        n.a.

In [19]:
df = pd.read_csv("stock_data.csv")
df

   Header1     Unnamed: 1 Unnamed: 2 Unnamed: 3     Unnamed: 4
0  Tickers            esp    revenue      price         people
1    GOOGL          27.82         87        845     larry page
2     WMIT           4.61        484         65           n.a.
3     MSFT             -1         85         64     bill gates
4      RIL  not available         50       1023  mukesh ambani
5     TATA            5.6         -1       n.a.      rata tata

## na_values
whenever we are readding csv if datas are note avaible it will filled up by NaN

1. df = pd.read_csv("nameOfTheFile.csv", na_values=["not available", "n.a."])
2. df = pd.read_csv("stock_data.csv", na_values={
    'Tickers': ["not available", "n.a."],
    'esp': ["not available", "n.a."],
    'revenue': ["not available", "n.a.",-1],
    'price': ["not available", "n.a."],
    'people': ["not available", "n.a."]
})# giving particular formate

In [22]:
df = pd.read_csv("stock_data.csv", na_values=["not available", "n.a."])
df
# not available and n.a.a has been replaced by NaN

  Tickers    esp  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1    WMIT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3     RIL    NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN      rata tata

In [26]:
df = pd.read_csv("stock_data.csv", na_values={
    'Tickers': ["not available", "n.a."],
    'esp': ["not available", "n.a."],
    'revenue': ["not available", "n.a.",-1],
    'price': ["not available", "n.a."],
    'people': ["not available", "n.a."]
})
df

  Tickers    esp  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1    WMIT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN      rata tata

## Saving this dataframe as a csv new file

In [28]:
# df.to_csv("new_csv.csv")
# there is an index column we need to remove this
df.to_csv("new_csv.csv",index=False)

In [30]:
# if we want to save limited no of column on new csv
df.to_csv("new_csv.csv",columns=["Tickers","revenue"])

In [31]:
# if we want to remove headers
df.to_csv("new_csv.csv", header=False)

In [32]:
df.to_csv("new_csv.csv")