In [2]:
import pandas as pd

### I want to group this data by cities. Will get data for different cities
1.      g = df.groupby('city')

### For accessing this object I have to go through a loop
2.     for city,city_df in g:
       print(f"The data based on ___ ! {city} city  ___ data")
       print(city_df)

### If I want to get data frame by calling the city name we can get by using:

1.      g.get_group("mumbai")

In [3]:
df = pd.read_csv("Group_ex_Data.csv")

In [4]:
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

# Questions:
1. Find the maximum temp in each of the citeis
2. FInd the average windspeed per city

In [8]:
# I want to group this data by cities. Will get data for different cities
g = df.groupby('city')

In [10]:
# we have got an object

# for accessing this object I have to go through a loop
for city,city_df in g:
    print(f"The data based on ___ ! {city} city  ___ data")
    print(city_df)

The data based on ___ ! mumbai city  ___ data
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
The data based on ___ ! new york city  ___ data
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
The data based on ___ ! paris city  ___ data
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          12 non-null     object
 1   city         12 non-null     object
 2   temperature  12 non-null     int64
 3   windspeed    12 non-null     int64
 4   event        12 non-null     object
dtypes: int64(2), object(3)
memory usage: 608.0+ bytes

In [13]:
t = df.groupby('event')
for temp, temp_data in t:
    print(temp)
    print(temp_data)

Cloudy
         day   city  temperature  windspeed   event
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy
Fog
        day    city  temperature  windspeed event
5  1/2/2017  mumbai           85         12   Fog
6  1/3/2017  mumbai           87         15   Fog
Rain
        day      city  temperature  windspeed event
0  1/1/2017  new york           32          6  Rain
7  1/4/2017    mumbai           92          5  Rain
Snow
        day      city  temperature  windspeed event
2  1/3/2017  new york           28         12  Snow
Sunny
        day      city  temperature  windspeed  event
1  1/2/2017  new york           36          7  Sunny
3  1/4/2017  new york           33          7  Sunny
4  1/1/2017    mumbai           90          5  Sunny
8  1/1/2017     paris           45         20  Sunny

In [14]:
# If I want to get data frame by calling the city name we can get by using:

g.get_group("mumbai")

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain