In [12]:
import pandas as pd
import math
import numpy as np

### df.replace()
1.     df.replace(old value, new value)
2.     if you want to specify multiple old values to replace # just need to pass a list of old values
       df.replace(["value 1","Value 2")
       new_df = df.replace([-99999,6],np.NaN)
3.     if you want to replace old values with new values based on column you have to pass a dictonary
       new_df =df.replace ({
            'temperature': -99999,
            'windspeed':[2,-99999],
            'event':0
       },np.NaN)

In [5]:
df= pd .read_csv("Replacing Values ex data.csv")

In [9]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [13]:
# replacing the -99999 values: bcz sometimes the NaN values are in the form of that bcz it has no meaning same as NaN
new_df = df.replace(-99999,np.NaN)

In [14]:
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [15]:
new_df = df.replace([-99999,6],np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        NaN   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        2.0  Sunny
6  1/6/2017         34.0        5.0      0

In [18]:
new_df =df.replace ({
    'temperature': -99999,
    'windspeed':[2,-99999],
    'event':0
},np.NaN)
new_df

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/2/2017          NaN        7.0  Sunny
2  1/3/2017         28.0        NaN   Snow
3  1/4/2017          NaN        7.0      0
4  1/5/2017         32.0        NaN   Rain
5  1/6/2017         31.0        NaN  Sunny
6  1/6/2017         34.0        5.0      0

In [23]:
new_df = df.replace({-99999: "Fahima ",
                     0: "Wasia",
                     np.NaN:"Tonnymg"})
new_df

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017     Fahima          7  Sunny
2  1/3/2017          28   Fahima    Snow
3  1/4/2017     Fahima          7      0
4  1/5/2017          32   Fahima    Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [26]:
# if data has ulta palta labels Replacing Values ex data.csv
df_ = pd.read_csv("Replacing Values ex data_ultapalta.csv")

In [28]:
df_

        day temperature windspeed  event
0  1/1/2017         32F      6mph   Rain
1  1/2/2017      -99999      7kmh  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017         32C    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [29]:
# data actually contains the different format in the same types of data
# we need to fix this kind of things
new_df = df_.replace('[A-Za-z]',"",regex=True)

In [30]:
new_df

        day temperature windspeed event
0  1/1/2017          32         6
1  1/2/2017      -99999         7
2  1/3/2017          28    -99999
3  1/4/2017      -99999         7     0
4  1/5/2017          32    -99999
5  1/6/2017          31         2
6  1/6/2017          34         5     0

In [33]:
# One problem!we have faced here is we have got some sort of weird thing on the event column, all data get vanished
# to fix this problem, there need to pass column wise regex, we know a proper way to do that is to import a dictionaries instead

new_df = df_.replace({
    'temperature': '[A-Za_z]',
    'windspeed': '[A-Za-z]'
},"",regex = True)
new_df

        day temperature windspeed  event
0  1/1/2017          32         6   Rain
1  1/2/2017      -99999         7  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7      0
4  1/5/2017          32    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/6/2017          34         5      0

In [34]:
# Also we can replace a list of values by a list ofn vlaues
# for doing these i need two data
scr =["exceptional","average","good","poor"]
name = ["Nakib","Tonny","Fahima","Kawser"]
df= pd.DataFrame({
    "Name": name,
    "Score": scr
})
df

     Name        Score
0   Nakib  exceptional
1   Tonny      average
2  Fahima         good
3  Kawser         poor

In [35]:
df.replace(["exceptional","good","average","poor"],[5,4,3,0])

     Name  Score
0   Nakib      5
1   Tonny      3
2  Fahima      4
3  Kawser      0