In [1]:
import pandas as pd

In [24]:
df = pd.read_excel("new_csv.xlsx","Sheet-new_csv")
# data adding from excel ahs advantages k\of collecting data from diff sheets of the

In [25]:
df

,Unnamed: 0.1,Unnamed: 0,Tickers,esp,revenue,price,people
0,0,0,GOOGL,27.82,87.0,845.0,larry page
1,1,1,WMIT,4.61,484.0,65.0,Nakib Uddin
2,2,2,MSFT,-1,85.0,64.0,bill gates
3,3,3,RIL,not available,50.0,1023.0,mukesh ambani
4,4,4,TATA,5.6,NaN,NaN,rata tata

In [26]:
# we need to convert the n.a.a data also the not available data how can e do that \
def convert_peope_cell(cell):
    if cell == "n.a.":
        return "Nakib Uddin"
    else:
        return cell
def convert_eps_cell(cell):
    if cell == "not available":
        return None
    else:
        return cell
def convert_price_cell(cell):
    if cell == "n.a.":
        return None
    else:
        return cell
def convert_revenue_cell(cell):
    if cell == -1:
        return None
    else:
        return cell
df = pd.read_excel("new_csv.xlsx","Sheet-new_csv",converters={
    'people':convert_peope_cell,
    'eps':convert_eps_cell,
    'price': convert_price_cell,
    'revenue': convert_revenue_cell
})

In [27]:
df.to_excel("new_csv1.xlsx",sheet_name="Stock",startrow=1,startcol=2,index=False)

## if we want to save data into different sheets of  a single excell file

In [2]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [4]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")