# Concat DataFrames
1.

In [1]:
import pandas as pd

In [6]:
bangladesh_weather =pd.DataFrame({
    'city':["Dhaka","Chittagong","Rajshahi"],
    'temperature':[38,35,39],
    'humidity':[70,90,60]
})

bangladesh_weather

         city  temperature  humidity
0       Dhaka           38        70
1  Chittagong           35        90
2    Rajshahi           39        60

In [8]:
weather_usa =pd.DataFrame({
    'city':["New Yourk","Shikago","Orlando"],
    'temperature':[21,14,35],
    'humidity':[68,75,65]
})
weather_usa

        city  temperature  humidity
0  New Yourk           21        68
1    Shikago           14        75
2    Orlando           35        65

1. We two Data frame, i want to concat both dataframe to make one data frame containing both countries data set

        pd.concat([data frames i want to join together])

In [9]:
pd.concat([bangladesh_weather,weather_usa])
# it is appending on row direction

         city  temperature  humidity
0       Dhaka           38        70
1  Chittagong           35        90
2    Rajshahi           39        60
0   New Yourk           21        68
1     Shikago           14        75
2     Orlando           35        65

In [11]:
# we need to make concatation in the column wise , we need to pass an argument axis =1

new_df =pd.concat([bangladesh_weather,weather_usa],axis=1)
new_df

         city  temperature  humidity       city  temperature  humidity
0       Dhaka           38        70  New Yourk           21        68
1  Chittagong           35        90    Shikago           14        75
2    Rajshahi           39        60    Orlando           35        65

In [13]:
pd.concat([bangladesh_weather,weather_usa],ignore_index=True)
# index is not condtinous , so i need to pass an argument named ignore_index

         city  temperature  humidity
0       Dhaka           38        70
1  Chittagong           35        90
2    Rajshahi           39        60
3   New Yourk           21        68
4     Shikago           14        75
5     Orlando           35        65

In [18]:
# I can Also give keys
# you want to give additional index
df = pd.concat([bangladesh_weather,weather_usa],keys=['Bangladesh','USA'])
df

                    city  temperature  humidity
Bangladesh 0       Dhaka           38        70
           1  Chittagong           35        90
           2    Rajshahi           39        60
USA        0   New Yourk           21        68
           1     Shikago           14        75
           2     Orlando           35        65

In [19]:
df.loc["USA"]
# by using keys we can retreive data

        city  temperature  humidity
0  New Yourk           21        68
1    Shikago           14        75
2    Orlando           35        65

## Concatination Using Index

In [22]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
})
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [21]:
windspeed_df = pd.DataFrame({
    "city": ["delhi","Bangalure","mumbai"],
    "windspeed": [7,45, 12],
})
windspeed_df

        city  windspeed
0      delhi          7
1  Bangalure         45
2     mumbai         12

In [30]:
sd=pd.concat([temperature_df,windspeed_df],axis=1)
# for making adding as a column
sd

       city  temperature       city  windspeed
0    mumbai           32      delhi          7
1     delhi           45  Bangalure         45
2  banglore           30     mumbai         12

In [31]:
# some times data are missing that time i need to do something
windspeed_df = pd.DataFrame({
    "city": ["delhi","mumbai"],
    "windspeed": [7, 12],
})
windspeed_df

     city  windspeed
0   delhi          7
1  mumbai         12

In [34]:
pd.concat([temperature_df,windspeed_df],axis=1)

       city  temperature    city  windspeed
0    mumbai           32   delhi        7.0
1     delhi           45  mumbai       12.0
2  banglore           30     NaN        NaN

In [36]:
# the order of data is different we need to do something


# while creating dataframe index can be given
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
},index=[0,1,2])
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [37]:
windspeed_df = pd.DataFrame({
    "city": ["delhi","mumbai"],
    "windspeed": [7, 12],
},index=[1,0])
windspeed_df

     city  windspeed
1   delhi          7
0  mumbai         12

In [41]:
new_df= pd.concat([temperature_df,windspeed_df],axis=1)

In [42]:
# we can also join data frame with a series
s= pd.Series(["Humid","Dry","Rain"],name="event")
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [43]:
new_df_final= pd.concat([new_df,s],axis=1)

In [45]:
new_df_final

       city  temperature    city  windspeed  event
0    mumbai           32  mumbai       12.0  Humid
1     delhi           45   delhi        7.0    Dry
2  banglore           30     NaN        NaN   Rain