In [1]:
#Importing Dependencies
import pandas as pd

## Creating Dataframe from Dictionary

In [47]:
# Creating Dictionary
routine_Dict = {
    "Date": ["Sun, 7 Aug","Wed, 10 Aug ","Sun, 14 Aug ","Sun, 21 Aug","Wed, 24 Aug "],
    "Course Code":["IPE 435","IPE 419","IPE 415","IPE 417", "IPE 405"],
    "Course Name":["Metal Cutting Process","Modeling and Simulation","Project Management","Industrial Automation", "Supply Chain Management"]
}
routine = pd.DataFrame(routine_Dict)
routine

           Date Course Code              Course Name
0    Sun, 7 Aug     IPE 435    Metal Cutting Process
1  Wed, 10 Aug      IPE 419  Modeling and Simulation
2  Sun, 14 Aug      IPE 415       Project Management
3   Sun, 21 Aug     IPE 417    Industrial Automation
4  Wed, 24 Aug      IPE 405  Supply Chain Management

In [43]:
# routine[routine['Course Name']=="Metal Cutting Process"]["Date"]
routine.to_dict('records')

[{'Date': 'Sun, 7 Aug', 'Course Name': 'Metal Cutting Process'},
 {'Date': 'Wed, 10 Aug ', 'Course Name': 'Modeling and Simulation'},
 {'Date': 'Sun, 14 Aug ', 'Course Name': 'Project Management'},
 {'Date': 'Sun, 21 Aug', 'Course Name': 'Industrial Automation'},
 {'Date': 'Wed, 24 Aug ', 'Course Name': 'Supply Chain Management'}]

## Creating Data Frame from Tuples List

In [42]:
weather_Data = [
    ("Sunday",32,6,"Rain"), # this tuple is nothing but row
    ("Monday",35,7,"Sunny"),
    ("Tuesday",28,2,"Snow")
]
# When you are creating dataframe one thing you need to do is you need to provide column name
df = pd.DataFrame(weather_Data,columns=["DAY","TEMPERATURE","WINDSPEED","EVENT"])
df

       DAY  TEMPERATURE  WINDSPEED  EVENT
0   Sunday           32          6   Rain
1   Monday           35          7  Sunny
2  Tuesday           28          2   Snow

## Creating A dataframe from of dictionaries

In [45]:
routine_term4_1 =[
    {'Date': 'Sun, 7 Aug', 'Course Name': 'Metal Cutting Process'},
    {'Date': 'Wed, 10 Aug ', 'Course Name': 'Modeling and Simulation'},
    {'Date': 'Sun, 14 Aug ', 'Course Name': 'Project Management'},
    {'Date': 'Sun, 21 Aug', 'Course Name': 'Industrial Automation'},
    {'Date': 'Wed, 24 Aug ', 'Course Name': 'Supply Chain Management'}
]
df_rouotine= pd.DataFrame(routine_term4_1)
df_rouotine